.navbar{
  width: 100%;
  background-color: #dddddd;
  overflow: auto;
  }

.navbar a{
  width: 33.33%;
  text-decoration: none;
  padding: 15px 0px 10px 20px;
  font-size: 20px;
}

.navbar a:hover {
  background-color: #237988;
}

ul{ 
  text-align: right; 
  list-style-type: none;
  background-color: rgba(128, 128, 128, 80);
}
  
li{
  float: right;
  paddinng: 10px;
}

  body{
    margin=0px;
  }
  
  
h1{
  font-family: arial;
  text-align: center;
  font-size: 2.9em;
  border-bottom: 2px solid white; 
  borer-top: 2px solid white;
  box-shadow: 10px 6px 6px #8888888;
 }
  
p{
  font-size: 21px;
}

span{
  font-size:2em;
  }
  
img {
  width: 100%; 
  margin: 10px; 
  }
  
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  }
  
